
h2 {
    color: rgb(39, 68, 104);
    background: rgb(199, 218, 238);
}

body {
  margin: auto;
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
  background-color: rgb(39, 68, 104);
  height: 48px;
  text-align: center;
  color: rgb(199, 218, 238);
}

a {
  color: rgb(199, 218, 238);

}

.navigation-wrapper {
  background-color: rgb(39, 68, 104);
  height: 48px;
  text-align: center;
  vertical-align: middle;
  line-height: 48px;
}

.logo-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 48px;
}

.welcomeText {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-buttons {
  text-align: center;
}

#logo {
  height: 15em;
}

#prompt {
  width: 500px;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

#accountButton {
  background-color: rgb(199, 218, 238);
  border: none;
  color: white;
  padding: 30px 90px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
}

/* Hover effects */
.grow {
transition: all .2s ease-in-out;
}

.grow:hover {
transform: scale(1.05);
}
