<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="UNCC Notes App">
        <title>Mobilize - Feed</title>
        <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='bunny.png')}}">
        <!-- styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='allPosts.css') }}">
    </head>
    <body>

      <div class="navigation-wrapper">
        <a style="height:inherit;" href="{{url_for('print_ALL')}}"> <img src="{{url_for('static', filename='head-logo.png')}}" alt="logo"></a>

        <a href="{{ url_for('get_posts') }}"> My Posts</a> ||
        <a href="{{ url_for('new_post') }}"> Add Post</a> ||
        <a href="{{ url_for('profile') }}"> Profile</a> ||
        <a href="{{ url_for('credentials') }}"> Update Log-in Credentials </a> ||
        <a href="{{url_for('logout')}}">Logout</a>
      </div>

      <p style="text-align: right; margin-right: 10px;">Hi {{user}}!, Welcome to Mobilize</p>
      <h1>All posts at a glance</h1>

<!-- TABLE BEGINS -->
        <table class="content-table">
          <thead>
              <tr>
                <th>Name</th>
                <th>Subject</th>
                <th>Date</th>
                <th>Rating</th>
                <th></th>
                <th></th>
              </tr>
          </thead>

          <tbody>
            {% for post in posts %}
            <tr>

                <!-- get the Name -->
                <td>{{post.user.first_name}}</td>

                <!-- get the subject -->
                <td><a href="{{ url_for('get_generalPost', post_id=post.id) }}">{{ post.subject }}</a></td>

                <!-- get the date -->
                <td>{{ post.date }}</td>

                <!-- get the rating -->
                <td>{{post.rating}}</td>

              {% if post.user_id == session['user_id'] %}
                  <!-- get the Edit button -->
                  <td><a href="{{ url_for('update_post', post_id=post.id) }}"> Edit</a></td>

                  <!-- get the Delete button -->
                  <td>
                    <form action="{{ url_for('delete_post', post_id=post.id) }}" method="post">
                      <input type="submit" value="Delete">
                    </form>
                  </td>
                {% endif %}

            </tr>
            {% endfor %}
          </tbody>

        </table>
    </body>



    <footer>
      <img id="bunny-logo" src="{{url_for('static', filename='bunny.png')}}" alt="bunny">
      <p>Copyright © 2021 Mobilize Group. All rights reserved.</p>
    </footer>
</html>
