<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="UNCC Notes App">
      <title>Mobilize - Credentials</title>
      <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='bunny.png')}}">
      <!-- styles -->
      <link rel="stylesheet" href="{{ url_for('static', filename='credentials.css') }}">

  </head>

<body>

  <div class="navigation-wrapper">
    <a style="height:inherit;" href="{{url_for('print_ALL')}}"> <img src="{{url_for('static', filename='head-logo.png')}}" alt="logo"></a>

    <a href="{{ url_for('get_posts') }}"> My Posts</a> ||
    <a href="{{ url_for('new_post') }}"> Add Post</a> ||
    <a href="{{ url_for('profile') }}"> Profile</a> ||
    <a href="{{ url_for('credentials') }}"> Update Log-in Credentials </a> ||
    <a href="{{url_for('logout')}}">Logout</a>
  </div>

  <div class="formwrapper">
    <h2 class="title">Update Credentials</h2>

       <form action="{{url_for('updatePersonalInformation')}}" method="POST">
           <h3>Please enter your new email:</h3>

           <label for="Email"> Email</label>
           <input type="Email" name="email" value="{{user.email}}" id="email">

           <h3> Please enter your current password : </h3>
           <label for="currentPassword"> Current Password</label>
           <input type="currentPassword" name="currentPassword"  maxlength = "30">

           <h3>Please enter your new password:</h3>

           <label for="newPassword"> New Password</label>
           <input type="newPassword" name="newPassword" id="newPassword" pattern = "^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{6,}$">

           </br>

       <button class="btn btn-sm btn-success" type="submit"  onclick="alert('Do you really want to update your profile? Click OK to confirm')">  Update   </button>

       </form>
  </div>



</body>

<footer>
  <img id="bunny-logo" src="{{url_for('static', filename='bunny.png')}}" alt="bunny">
  <p>Copyright © 2021 Mobilize Group. All rights reserved.</p>
</footer>
</html>
