<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="UNCC Notes App">
        <title>UNCC Notes App</title>
        <!-- styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>
    <body>
        <nav>

        </nav>
        


        <h1>Welcome to our website! </h1>

        <h2>Use this site in order to ask questions by creating posts and adding comments to other discussion posts.</h2>

        <h2>To get started, sign in using the sign in button below, or create an account using the register button! </h2>
        <h3><a href="{{ url_for('signIn')}}">Sign In</a></h3>

        <h3><a href="{{ url_for('register')}}">Register</a></h3>

    </body>
</html>
