<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="UNCC Notes App">
        <title>UNCC Notes App</title>
        <!-- styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>
    <body>
        <nav>
            <h1>Register</h1>
        </nav>

        First Name <input type = "text">
        <br/>

        <br/>
        Last name <input type = "text">
       <br/>

        <br/>
        Email <input type = "text">
        <br/>

        <br/>
        Password <input type = "text">
        <br/>

        <br/>
        Confirm Password <input type = "text">

       <br/>

        <br/>

        <button name = "Create Account" type = "button">
         <a href = "index"> Register here! Create Account </a>
        </button>
    </body>
</html>
