<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='forms.css') }}">
</head>

    <body>

      <div style="position: fixed; top: 0; z-index: -1; filter: brightness(50%)">
       <video autoplay muted playsinline loop id="myvideo" src="{{url_for('static', filename='note.mp4')}}" width="100%" height="100%">
       Your browser does not support the video tag.
       </video>
       <script> document.getElementById('myvideo').play(); </script>
      </div>

      <div class="navigation-wrapper">
        <a style="height:inherit;" href="{{url_for('index')}}"> <img src="{{url_for('static', filename='head-logo.png')}}" alt="logo"></a>
      </div>

        <div class="formwrapper">
            <h2 class="title">Register</h2>
            <form method="POST" action="/register">
                <div class="form-field">{{ form.firstname.label }} {{ form.firstname }}
                    {% if form.firstname.errors %}
                    <ul class="errors">
                        {% for error in form.firstname.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-field">{{ form.lastname.label }} {{ form.lastname }}
                    {% if form.lastname.errors %}
                    <ul class="errors">
                        {% for error in form.lastname.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-field">{{ form.email.label }} {{ form.email }}
                    {% if form.email.errors %}
                    <ul class="errors">
                        {% for error in form.email.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-field">{{ form.password.label }} {{ form.password }}
                    {% if form.password.errors %}
                    <ul class="errors">
                        {% for error in form.password.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-field">{{ form.confirmPassword.label }} {{ form.confirmPassword }}
                    {% if form.confirmPassword.errors %}
                    <ul class="errors">
                        {% for error in form.confirmPassword.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                {{ form.submit }}

                <p style="text-align:center;">Already have an account? <a href="{{url_for('login')}}">Login here</a></p>
            </form>

        </div>

        <footer>
          <p>Copyright © 2021 Mobilize Group. All rights reserved.</p>
        </footer>
    </body>
</html>
