<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="UNCC Notes App">
        <title>UNCC Notes App</title>
        <!-- styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>
    <body>
        <nav>
            <h1> Sign In </h1>
        </nav>

        Email <input type = "text">
        <br/>

        <br/>
        Password <input type = "text">

        <br/>
        <br/>

        <button name = "Login" type = "button">
        <a href = "feed"> Login! </a>
        </button>

        <h1>Don't have an account? <a href = "register"> Register here! </a> </h1>



    </body>
</html>
