<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="UNCC Notes App">
    <title>UNCC Notes App</title>
    <!-- styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>

<body>

  <h2>Update your email and password here.</h2>

  <div class="featureLinks">

    <!-- <nav> -->
      <a href="{{ url_for('index') }}"> Home</a> ||
      <a href="{{ url_for('get_posts') }}"> My Posts</a> ||
      <a href="{{ url_for('new_post') }}"> Add Post</a> ||
      <a href="{{ url_for('profile') }}"> Profile</a> ||
      <a href="{{ url_for('print_ALL') }}"> ALL POSTS</a>
    </nav>
  </div>




<form action="{{url_for('updatePersonalInformation')}}" method="POST">
    <h3>Please enter your new email:</h3>

    <label for="Email"> Email</label>
    <input type="Email" name="email" value="{{user.email}}" id="email">

    <h3>Please enter your new password:</h3>

    <label for="Password"> Password</label>
    <input type="Password" name="password" id="password">

    </br>



<button class="btn btn-sm btn-success" type="submit">Update</button>
</form>

</body>

</html>
